@model AppNomina.Models.Empleados

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HNormales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HNormales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deducciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deducciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
